<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Happy Guests</title>
</head>
<style>
    body {
        background-image: url("/images/hotel.jpg");
        background-size: 100% 100vh; /* Use viewport height for better responsiveness */
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
</style>
<body>

<div th:insert="~{/fragments/nav-bar}"></div>

<div class="container">
    <div class="form-group">
        <label for="allSubscribers">Select subscriber</label>
        <select id="allSubscribers" name="allSubscribers" class="custom-select">
            <option value="" selected disabled>Check all happy guests</option>
            <option th:each="happyGuest : ${allHappyGuests}" th:text="${happyGuest.fullName}"></option>
        </select>

        <div class="buttons">
            <a th:href="@{/admin}" class="btn btn-primary">Go back <br> to your panel</a>
            <!--            <a th:href="@{/admin}" class="btn btn-success" >Make Guest <br> User</a>-->
            <!--            <a th:href="@{/admin}" class="btn btn-secondary" >See Guest <br> Profile</a>-->
            <!--            <a th:href="@{/admin}" class="btn btn-danger">BAN <br> Guest</a>-->
        </div>

    </div>
</div>

<div th:insert="~{/fragments/footer}"></div>

</body>
</html>