<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Guest want to leave</title>
</head>
<body>

<form th:action="@{/guests/leave}" th:method="POST">

  <div>
    <div class="form-group">
      <label for="guest">Select guest</label>
      <select id="guest" name="roomNumber" class="custom-select">
        <option value="" selected disabled>Select guest</option>
        <option th:each="guest : ${guests}" th:value="${guest.roomNumber}" th:text="${guest.firstName}"></option>
      </select>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Remove Guest From Hotel</button>

</form>




</body>
</html>