<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Guest want to leave</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <style>
     .container {
        margin: 5em auto;
        width: 100%;
        }
</style>
</head>
<body>

<div th:insert="~{/fragments/nav-bar}"></div>

<div class="container">
  <form th:action="@{/guests/leave}" th:method="POST">

    <div id="test">
      <div class="form-group">

        <label for="guest">Select guest</label>
        <select id="guest" name="roomNumber" class="custom-select">
          <option value="" selected disabled>Select guest</option>
          <option th:each="guest : ${guests}" th:value="${guest.roomNumber}" th:text="${guest.firstName}"></option>
        </select>

      </div>
    </div>
    <button type="submit" class="btn btn-success">Check Out Guest From Hotel</button>

  </form>
</div>


<div th:insert="~{/fragments/footer}"></div>


</body>
</html>