<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:replace="~{fragments/head :: head}"></th:block>
    <title>Welcome</title>
</head>
<body>
<th:block th:replace="~{fragments/nav-bar :: navbar}"></th:block>

<main>
    <th:block th:replace="~{fragments/carousel}"></th:block>
</main>

<th:block th:replace="~{/fragments/footer}"></th:block>

<th:block th:replace="~{fragments/scripts :: scripts}"></th:block>
</body>
</html>
