<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Our Hotel</title>
    <style>
        body {
            background-image: url("/images/hotel.jpg");
            background-size: 100% 60%;
            background-repeat: no-repeat;
            background-attachment: fixed;
            transition: background-image 1s ease;
            transition-delay: 3s;
        }

    </style>

</head>
<body>
<div th:insert="~{/fragments/nav-bar}"></div>


<div th:insert="~{/fragments/footer}"></div>

<script th:inline="javascript">
    // Retrieve image URLs from model attribute
    let imageUrls = [[${imageUrls}]];

    let currentBackgroundIndex = 0;

    // Function to change the background image
    function changeBackgroundImage() {
        currentBackgroundIndex = (currentBackgroundIndex + 1) % imageUrls.length;
        document.body.style.backgroundImage = "url('" + imageUrls[currentBackgroundIndex] + "')";
    }

    // Change background image every 5 seconds
    setInterval(changeBackgroundImage, 5000);
</script>

</body>
</html>