<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<style>
    .container {
    margin: 0;
    }
    span {
        margin: 1em;
    }
</style>
<body>
<div th:insert="~{/fragments/nav-bar}"></div>


<main class="align-content-center bg-blur my-register-div" >
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-md-7">
                <div class="profile-card p-3 py-4">

                    <div class="text-center"><img src="/images/profile.jpg" width="100" class="rounded-circle" alt="pic"></div>

                    <div class="text-center mt-3">

                        <h5 th:text="'Name:'">Roles of</h5>
                        <h4 th:text="${userDetails.getFullName()}">User</h4>
                        <br>
                        <h4>Roles</h4>
                        <span class="bg-primary p-1 px-4 rounded text-white" th:each="role : ${userDetails.getRoles()}" th:text="${role.getName()}">Pro</span>
                        <br>
                        <br>
<!--                        <span>UI/UX Designer</span>-->
<!--                        <h5 class="mt-2 mb-0">Username</h5>-->
<!--                        <span>UI/UX Designer</span>-->
                        <h5 class="mt-2 mb-0" th:text="'Age:'">Age</h5>
                        <h5 class="mt-2 mb-0" th:text="${userDetails.getAge()} + ' years'">Age</h5>
                        <br>
                        <h5 class="mt-2 mb-0" th:text="'Email: ' + ${userDetails.getEmail()}">Email</h5>
<!--                        <span>33</span>-->

                        <br>
                        <div class="buttons">
                            <a th:href="@{/}" class="btn mb-5 btn-outline-primary px-4">Back</a>
<!--                            <button type="submit" th:href="@{/}" class="btn btn-outline-primary px-4">Back</button>-->
<!--                            <button class="btn btn-primary px-4 ms-3">Contact</button>-->
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>

<div th:insert="~{/fragments/footer}"></div>

</html>
