<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Free Rooms</title>
</head>
<body>
<div>
  <div class="form-group">
    <label for="allGuests">Select guest</label>
    <select id="allGuests" name="allGuests" class="custom-select">
      <option value="" selected disabled>Check all guests in hotel</option>
      <option th:each="guest : ${allGuests}" th:text="${guest.getFullName()} + ' - Room number: ' + ${guest.getRoomNumber()}"></option>
    </select>
  </div>
</div>

</body>
</html>