<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Moderator Dashboard</title>
  <!-- Bootstrap CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom CSS -->
  <style>
    /* Add custom styles here */
  </style>
</head>
<body>

<!-- Navigation -->
<div th:insert="~{/fragments/nav-bar}"></div>


<!-- Page Content -->
<div class="container-fluid mt-3">
  <div class="row">
    <!-- Sidebar -->

    <div class="col-lg-3">
      <!-- Sidebar content here -->
    </div>
    <!-- Main Content -->
    <div class="col-lg-9">
      <!-- Main content here -->

      <a th:href="@{/guests/add}">Add guest</a>

      <a th:href="@{/guests/leave}">Guest want to leave</a>

    </div>
  </div>
</div>

<!-- Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
