<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .container {
            margin:0 auto;
        }
    </style>
</head>
<body>
<div th:insert="~{/fragments/nav-bar}"></div>

<div class="container">
    <img src="/images/forbidden.jpg" alt="">
    <h1>Sorry, but you don't have rights to see this page</h1>
    <a href="/" class="btn btn-primary">Go back</a>
</div>

<!--<script src="/js/test.js"></script>-->
<!--<script type="text/javascript"-->
<!--        src="https://cdn.jsdelivr.net/npm/@emailjs/browser@4/dist/email.min.js"></script>-->
</body>
</html>