<!DOCTYPE html>
<html lang="en">
<head>
    <th:block th:replace="~{fragments/head :: head}"></th:block>
    <title>Page Not Found</title>
    <style>
        .container {
            margin: 0 auto;
        }
    </style>
</head>
<body>
<th:block th:replace="~{fragments/nav-bar :: navbar}"></th:block>

<div class="container">
    <img src="/images/not-found.png" alt="">
    <p>Sorry, the page you are looking for might have been removed, had its name changed, or is temporarily unavailable.</p>

    <h1 class="error-heading" >We are sorry, and we are working on the problem!</h1>
    <a href="/" class="btn btn-primary">Go back</a>
</div>

<input type="hidden" id="token"/>
<th:block th:insert="~{/fragments/footer}"></th:block>
<th:block th:insert="~{fragments/scripts :: scripts}"></th:block>
</body>

<!--<script src="/js/test.js"></script>-->
<!--<script type="text/javascript"-->
<!--        src="https://cdn.jsdelivr.net/npm/@emailjs/browser@4/dist/email.min.js"></script>-->
</html>