<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{fragments/head :: head}"></th:block>
    <title>Subscribers</title>
</head>
<body class="hero" style="background-image: url('/images/hotel.jpg');">
<th:block th:replace="~{fragments/nav-bar :: navbar}"></th:block>
<div class="container p-3 bg-dark rounded">
    <h2 class="text-white mt-2">Subscribers</h2>
    <div class="form-group custom-table">
        <table class="bg-white" id="commentTable">
            <thead>
            <tr>
                <th>Email</th>
                <th>Count Subscriptions</th>
                <th>Time of Subscription</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="subscriber, iterStat : ${allSubscribers}" th:data-full-text="${subscriber}"
                th:classappend="${iterStat.index == 0} ? 'selected'" th:data-content-id="${subscriber.id}">
                <td th:text="${subscriber.email}"></td>
                <td th:text="${subscriber.counterOfSubscriptions}"></td>
                <td th:text="${subscriber.timeOfSubscription.toLocalDate()}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="buttons">
        <a th:href="@{/admin}" class="btn btn-primary">Go back <br> to your panel</a>
    </div>
</div>
<th:block th:replace="~{/fragments/footer :: footer}"></th:block>
<th:block th:replace="~{fragments/scripts :: scripts}"></th:block>
</body>
</html>