<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{fragments/head :: head}"></th:block>
    <title>Footer</title>
</head>
<body>
<footer th:fragment="footer" class="bg-body-tertiary bg-dark text-center">
    <div class="container p-4">
        <section class="mb-4">
            <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="#" role="button">
                <i class="fab fa-facebook-f fa-2xl"></i>
            </a>
            <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="#" role="button">
                <i class="fab fa-twitter fa-2xl"></i>
            </a>
            <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="#" role="button">
                <i class="fab fa-google fa-2xl"></i>
            </a>
            <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="#" role="button">
                <i class="fab fa-instagram fa-2xl"></i>
            </a>
            <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1"
               href="https://www.linkedin.com/in/roberto-spasov-3305a4228/" role="button">
                <i class="fab fa-linkedin-in fa-2xl"></i>
            </a>
            <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="https://github.com/RobSunnn"
               role="button">
                <i class="fab fa-github fa-2xl"></i>
            </a>
        </section>
        <section>
            <form id="subscribe-form" th:action="@{/contact/subscribe}" th:method="POST">
                <input type="hidden" name="redirectUrl" th:value="${pageUrl}"/>
                <div class="row d-flex justify-content-center">
                    <div class="col-auto">
                        <p class="text-white pt-2">
                            <strong>Sign up for our newsletter</strong>
                        </p>
                    </div>
                    <div class="col-md-5 col-12">
                        <div data-mdb-input-init class="form-outline mb-4 border">
                            <input type="text" id="subscriberEmail" class="form-control text-white"/>
                            <label class="form-label text-white" for="subscriberEmail">Email address</label>
                            <div id="subscriberEmailError" class="invalid-feedback text-white bg-danger rounded"></div>
                        </div>
                        <div class="col-auto">
                            <button data-mdb-ripple-init type="submit" id="subscribe-btn" class="btn btn-primary mb-4">
                                Subscribe
                            </button>
                        </div>
                    </div>
                    <div id="successSubscribeMessage" class="alert alert-success text-black rounded mt-3"
                         style="display:none;">
                        <small></small>
                    </div>
                </div>
            </form>
        </section>
        <section class="mt-5">
            <div class="footer-end">
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Quick Links</h5>
                    <ul class="list-unstyled mb-0">
                        <li class="page-link">
                            <a class="page-item" href="/about">About Us</a>
                        </li>
                        <li class="page-link">
                            <a class="page-item" href="/contact">Contact</a>
                        </li>
                        <li class="page-link">
                            <a class="page-item" href="/allRoomTypes">Our Rooms</a>
                        </li>
                        <li class="page-link">
                            <a class="page-item" href="#top">Go TOP</a>
                        </li>
                    </ul>
                </div>
                <div class="video">
                    <div class="">
                        <div class="">
                            <video controls width="300">
                                <source src="/images/10154095086876282.mp4" type="video/mp4"/>
                                Download the
                                <a href="/images/10154095086876282.mp4">MP4</a>
                                video.
                            </video>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="text-footer" class="text-footer p-1 mb-4">
            <p class="text-white">
                Welcome to Our Hotel, your home away from home. <br> Nestled in the heart of [City],
                we offer a blend of comfort and luxury tailored to your needs. Whether you're here for business or
                leisure, our modern amenities, exceptional service, and prime location ensure a memorable stay.
                Discover the perfect retreat with us, where every guest is treated like family.
            </p>
        </section>
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2024<a class="text-reset fw-bold" href="#"></a>
    </div>
    <script src="/js/encryptionScript.js"></script>
    <script src="/js/displayErrorsScript.js"></script>
    <script src="/js/subscribeScript.js"></script>
</footer>
</body>
</html>