<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{fragments :: head}"></th:block>
    <title>Change Password</title>
</head>
<body style="background-color: #555555">
<th:block th:replace="~{fragments :: navbar}"></th:block>

<div class="edit-profile-container">
    <form id="change-password-form" action="/users/profile/changePassword">
        <div class="form-group">
            <label for="oldPassword" class="text-white">You need your Old Password</label>
            <input type="password" required minlength="5" maxlength="100" class="form-control" id="oldPassword" name="oldPassword"
                   placeholder="Enter your old password...">
            <small id="oldPasswordError" class="invalid-feedback text-white  bg-danger rounded"></small>
        </div>
        <div class="form-group">
            <label for="newPassword" class="text-white">Enter your New Password</label>
            <input type="password" required minlength="5" maxlength="100" class="form-control" id="newPassword" name="newPassword"
                   placeholder="Enter your new password...">
            <small id="newPasswordError" class="invalid-feedback text-white  bg-danger rounded"></small>
        </div>
        <div class="form-group">
            <label for="confirmNewPassword" class="text-white">Confirm your New Password</label>
            <input type="password" required minlength="5" maxlength="100" class="form-control" id="confirmNewPassword" name="confirmNewPassword"
                   placeholder="Confirm your password...">
            <small id="confirmNewPasswordError" class="invalid-feedback text-white  bg-danger rounded"></small>
        </div>
        <div class="buttons">
            <button type="submit" class="btn btn-info btn-lg">Change Password</button>
            <a href="/users/profile" class="btn btn-light btn-outline-primary">Back</a>
        </div>
    </form>
</div>
<script src="/js/editProfileScript.js"></script>
<th:block th:replace="~{fragments :: footer}"></th:block>
</body>
</html>