<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{fragments :: head}"></th:block>
    <title>Edit Profile</title>
</head>
<body class="cool-background" style="background-color: #555555">
<th:block th:replace="~{fragments :: navbar}"></th:block>
<div class="edit-profile-container">
    <form id="edit-profile-form" action="/users/profile/editUserProfile">
        <div class="form-group">
            <label> First name*
                <input type="text" class="form-control" id="firstName" name="firstName"
                        placeholder="Enter your first name...">
                <small id="firstNameError" class="invalid-feedback text-white bg-danger rounded"></small>
            </label>
        </div>
        <div class="form-group">
            <label> Last name*
                <input type="text" class="form-control" id="lastName" name="lastName"
                       placeholder="Enter your last name...">
                <small id="lastNameError" class="invalid-feedback text-white bg-danger rounded"></small>
            </label>
        </div>
        <div class="form-group">
            <label> Email*
                <input type="email" class="form-control" id="email" name="email"

                       placeholder="Enter your email...">
                <small id="emailError" class="invalid-feedback text-white bg-danger rounded"></small>
            </label>
        </div>
        <div class="form-group">
            <label> Age*
                <input type="number" class="form-control" id="age" name="age"
                       placeholder="Enter your age...">
                <small id="ageError" class="invalid-feedback text-white bg-danger rounded"></small>
            </label>
        </div>
        <div class="buttons">
            <button type="submit" id="submit-btn" class="btn btn-info btn-lg">Submit</button>
            <a href="/users/profile" class="btn btn-light btn-outline-primary">Back</a>
        </div>
    </form>
</div>
<script src="/js/editProfileScript.js"></script>
<th:block th:replace="~{fragments :: footer}"></th:block>
</body>
</html>