<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:replace="~{fragments/head :: head}"></th:block>
    <title>Sign IN</title>
   </head>

<body class="hero" style="background-image: url('/images/login-img.jpg');">
<th:block th:replace="~{fragments/nav-bar :: navbar}"></th:block>
<main>
    <div class="login-form">
        <form id="login-form" action="/users/login" method="post">
            <div class="container mt-5">
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-header bg-dark text-white">
                                <h2 class="text-center">Sign In</h2>
                            </div>
                            <div class="card-body bg-dark text-white">
                                <form>
                                    <div class="form-group">
                                        <label for="email">Email address</label>
                                        <input type="text" class="form-control" id="email" name="email"
                                               placeholder="Enter email">
                                    </div>
                                    <div class="form-group">
                                        <label for="password">Password</label>
                                        <input type="password" class="form-control" id="password" name="password"
                                               placeholder="Enter password">
                                    </div>
                                    <div id="error-message"></div>
                                </form>
                                <div class="buttons">
                                    <button type="submit" class="bg-white btn btn-outline-primary btn-lg text-black">Login</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</main>
<script src="/js/loginForm.js"></script>
<script src="/js/encryptionScript.js"></script>
<script src="/js/displayErrorsScript.js"></script>
<th:block th:replace="~{/fragments/footer :: footer}"></th:block>
<th:block th:replace="~{fragments/scripts :: scripts}"></th:block>
</body>
</html>