<!DOCTYPE html>
<html lang="en">
<head>
    <th:block th:replace="~{fragments :: head}"></th:block>
    <title>Success</title>
</head>
<body style="background-image: url('/images/success.jpg');">
<th:block th:replace="~{fragments :: navbar}"></th:block>
<div class="success-card bg-dark text-white">
    <h1>Online Reservation Successful!</h1>

    <h3>Thank you for choosing us!</h3>
    <a href="/" class="btn btn-success">Go Home</a>
</div>
<th:block th:replace="~{fragments :: footer}"></th:block>
</body>
</html>