<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{fragments :: head}"></th:block>
    <title>Profile</title>
</head>
<body class="hero" style="background-image: url('/images/hotel1.jpg');">
<th:block th:replace="~{fragments :: navbar}"></th:block>

<div id="profile-main" class="cool-background">
    <div class="profile cool-background bg-white text-center">
        <div class="image-frame">
            <img id="profile-picture-image" class="" src="" alt="Profile Picture">
        </div>
        <div th:if="${successMessage}" class="alert alert-success mt-1" role="alert">
            <span th:text="${successMessage}"></span>
        </div>
        <div id="successMessage" class="alert alert-success text-black rounded mt-3" style="display:none;">
            <small></small>
        </div>
        <div th:if="${errorMessage}" class="alert alert-danger mt-1" role="alert">
            <span th:text="${errorMessage}"></span>
        </div>
        <form id="profile-form" th:action="@{/users/profile/addProfileImage}" th:method="POST"
              enctype="multipart/form-data">
            <div class="file-container">
                <div class="file-input-container">
                    <input type="file" name="profile-picture" id="profile-picture" value=""
                           aria-describedby="profile-picture">
                </div>
                <div>
                    <p><b>Allowed size 5MB</b></p>
                </div>
            </div>
            <div class="buttons">
                <button type="submit" class="btn btn-success">Change profile picture</button>
            </div>
        </form>
        <div class="buttons">
            <a th:href="@{/users/profile/changePassword}"
               class="btn btn-outline-primary bg-dark">Change Password</a>
            <a th:href="@{/users/profile/editProfile}"
               class="btn btn-outline-success bg-dark">Edit Profile</a>
            <a th:href="@{/}" class="btn btn-outline-primary px-4">Back</a>
        </div>
    </div>

    <div class="profile cool-background bg-white text-center text-white">
        <h5>Name:</h5>
        <h3 id="fullName" class="long-text">User</h3>
        <h5>Email:</h5>
        <h3 id="email" class="long-text">User Email</h3>
        <h5>Age:</h5>
        <h3 id="age">User Age</h3>
        <h5>Roles:</h5>
        <div id="roles"></div>
    </div>
</div>


<th:block th:replace="~{fragments :: footer}"></th:block>
<script src="/js/editProfileScript.js"></script>
<script src="/js/fileValidationScript.js"></script>
</body>
</html>
