<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:replace="~{fragments/head :: head}"></th:block>
    <title>Profile</title>
</head>
<body class="hero" style="background-image: url('/images/hotel1.jpg');">
<th:block th:replace="~{fragments/nav-bar :: navbar}"></th:block>
<main id="main" class="align-content-center mt-5 bg-blur">
    <div class="row d-flex justify-content-center">
        <div class="col-md-7 bg-white rounded">
            <div class="profile-card p-3 py-4">
                <div class="text-center">
                    <div class="image-frame">
                        <img id="profile-picture-image" class="" src="" alt="Profile Picture">
                    </div>
                    <div th:if="${successMessage}" class="alert alert-success mt-1" role="alert">
                        <span th:text="${successMessage}"></span>
                    </div>
                    <div id="successMessage" class="alert alert-success text-black rounded mt-3" style="display:none;">
                        <small></small>
                    </div>
                    <div th:if="${errorMessage}" class="alert alert-danger mt-1" role="alert">
                        <span th:text="${errorMessage}"></span>
                    </div>
                    <form id="profile-form" th:action="@{/users/profile/addProfileImage}" th:method="POST"
                          enctype="multipart/form-data">
                        <div class="file-input-container">
                            <input type="file" name="profile-picture" id="profile-picture" value=""
                                   aria-describedby="profile-picture">
                        </div>
                        <p><b>Allowed size 5MB</b></p>
                        <button type="submit" class="btn btn-success">Change profile picture</button>
                    </form>
                    <div class="text-center mt-5 bg-white">
                        <h4>Name:</h4>
                        <h3 id="fullName">User</h3>
                        <br>
                        <h4>Roles:</h4>
                        <div id="roles"></div>
                        <br>
                        <br>
                        <h4 class="mt-2 mb-0">Age:</h4>
                        <h3 class="mt-2 mb-0" id="age">User Age</h3>
                            <br>
                            <h4 class="mt-2 mb-0">Email:</h4>
                            <h3 class="mt-2 mb-0" id="email">User Email</h3>
                                <br>
                                <div class="buttons">
                                    <a th:href="@{/}" class="btn mb-5 btn-outline-primary px-4">Back</a>
                                    <a th:href="@{/users/profile/editProfile}"
                                       class="btn mb-5 btn-outline-success bg-dark px-4">Edit Profile</a>
                                    <a th:href="@{/users/profile/changePassword}"
                                       class="btn mb-5 btn-outline-primary px-4 bg-dark">Change Password</a>
                                </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<script src="/js/editProfileScript.js"></script>
<th:block th:replace="~{/fragments/footer :: footer}"></th:block>
<th:block th:replace="~{fragments/scripts :: scripts}"></th:block>
<script src="/js/fileValidationScript.js"></script>
</body>
</html>
