<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:replace="~{fragments/head :: head}"></th:block>
    <title>Sign UP</title>
</head>
<body class="hero" style="background-image: url(/images/register-img.jpg)">
<th:block th:replace="~{fragments/nav-bar :: navbar}"></th:block>
<main>
    <form id="register-form" th:action="@{/users/register}">
        <div class="register-form container bg-dark rounded" >
            <h2 class="text-white">Register</h2>
            <div class="input-field form-group">
                <label for="firstName" class="text-white">First Name</label>
                <input type="text" class="form-control" id="firstName" placeholder="Enter your first name...">
                <small id="firstNameError" class="invalid-feedback text-white bg-danger rounded"></small>
            </div>
            <div class="input-field form-group">
                <label for="lastName" class="text-white">Last Name</label>
                <input type="text" class="form-control" id="lastName" placeholder="Enter your last name...">
                <small id="lastNameError" class="invalid-feedback text-white bg-danger rounded"></small>
            </div>
            <div class="input-field form-group">
                <label for="email" class="text-white">Email address</label>
                <input type="email" class="form-control" id="email" placeholder="Enter your email...">
                <small id="emailError" class="invalid-feedback text-white bg-danger rounded"></small>
            </div>
            <div class="input-field form-group">
                <label for="age" class="text-white">Age</label>
                <input type="number" class="form-control" id="age" placeholder="Enter your age...">
                <small id="ageError" class="invalid-feedback text-white bg-danger rounded"></small>
            </div>
            <div class="input-field form-group">
                <label for="password" class="text-white">Password</label>
                <input type="password" class="form-control" id="password" placeholder="Enter password...">
                <small id="passwordError" class="invalid-feedback text-white bg-danger rounded"></small>
            </div>
            <div class="input-field form-group">
                <label for="confirmPassword" class="text-white">Confirm Password</label>
                <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm your password...">
                <small id="confirmPasswordError" class="invalid-feedback text-white bg-danger rounded"></small>
            </div>
            <div class="buttons">
                <button type="submit" id="register-button" class="btn btn-primary btn-lg">Register</button>
            </div>
        </div>
    </form>
</main>
<th:block th:replace="~{/fragments/footer :: footer}"></th:block>
<th:block th:replace="~{fragments/scripts :: scripts}"></th:block>
<script src="/js/registerForm.js"></script>
</body>
</html>
