<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:replace="~{fragments :: head}"></th:block>
    <title>All Users</title>
</head>
<body class="hero" style="background-image: url('/images/hotel1.jpg');">
<th:block th:replace="~{fragments :: navbar}"></th:block>
<div class="container">
    <div class="row">
        <div class="search-field col-md-6 rounded text-center">
            <label for="searchInput">You can search for user here</label>
            <input type="text" id="searchInput" class="form-control bg-dark" placeholder="Search here...">
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-12">
            <table class="table bg-dark" id="table">
                <thead>
                <tr>
                    <th>User Picture</th>
                    <th>Full Name</th>
                    <th>Email</th>
                    <th>Roles</th>
                    <th>Functions</th>
                </tr>
                </thead>
                <tbody>
                <!-- Table body will be populated dynamically -->
                </tbody>
            </table>
            <div id="pagination" class="pagination"></div>
        </div>
    </div>
</div>
<th:block th:replace="~{fragments :: footer}"></th:block>
<script src="/js/userRolesScript.js"></script>
</body>
</html>