body {
    background-image: url("/images/contact-us.jpg");
    background-size: 100% 100vh; /* Use viewport height for better responsiveness */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: black;
}

small {
    text-align: center;
}

.label {
    text-align: left;
}

.forms-container {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.content-text {
    display: flex;
    justify-content: center;
    gap: 1em;
    color: white;
    width: 100%;
    max-width: 100%;
    padding: 2em;
    border-radius: 20%;
    font-size: 1.2rem;
    margin: 2em auto;
}

.content-text div {
    align-content: center;
    text-align: center;
    padding: 2em;
}

.content,
.container {
    text-align: center;
    opacity: 90%;
}

.container .btn {
    text-align: center;
}

.support-card {
    color: black;

    width: 70%;
    margin: 1em auto 1em auto;
    background-color: #d8d8d8;
    padding: 2em 0;
    border: 2px solid white;
    text-align: center;
    outline: 2px solid dimgrey;
    opacity: 80%;
}

.support-card ul {
    display: flex;
    gap: 2em;
    justify-content: center;
    padding: 0;
}

.support-card ul li {
    list-style: none outside;
    margin-top: 1em;
}

.support-card ul li i {
    font-size: 25px;
    color: royalblue;
    cursor: pointer;
}

.support-card ul li span {
    display: none;
}

.btn {
    margin: 0 auto;
}

#contact {
    width: 30rem;
    max-width: 100%;
    margin-top: 2em;
}

#subscribeForm {
    margin: 2em auto 0 auto;
    display: flex;
    flex-direction: column;
    padding: 1em;
    width: 30rem;
    max-width: 100%;
    border-radius: 20%;
}

#contact h2,
#subscribeForm h2 {
    border-bottom: 2px solid black;
    padding-bottom: 0.3em;
    border-bottom-style: dotted;
}