.navbar {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.9));
}
.form-inline {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid white;

}

.navbar .nav-link {
    font-size: 1.1rem;
    font-weight: 700;
    color: #fff !important;
}
@media (max-width: 991px) {
    .form-inline {
        width: 84%;
        margin: 0 auto;
        border: 3px solid white;
        font-size: 1.2rem;
    }

    .nav-item {
        /*background-color: #7e86a1;*/
        width: 30%;
        margin: 0.5em auto;
        /*border: 3px solid white;*/
        /*outline: 4px solid black;*/
        /*border-radius: 30%;*/
        opacity: 85%;
    }
}