<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:replace="~{fragments :: head}"></th:block>
    <title>Forbidden Page</title>
</head>
<body class="error" style="background-image: url('/images/broken-image.jpg')">
<th:block th:replace="~{fragments :: navbar}"></th:block>
<div class="wrapper">
    <div class="error-content">
        <h1>Congrats, you broke it.</h1>
        <img src="/images/forbidden.png" alt="">
        <br>
        <h3>Unfortunately, you are not allowed to access the page you've requested. It seems you don't have sufficient
            permissions.</h3>
        <h3 sec:authorize="isAnonymous()"> If you have an account, you might have more luck if you log in.</h3>
        <a sec:authorize="isAnonymous()" href="/users/login" class="btn btn-primary">Open the login page</a>
        <a sec:authorize="isAuthenticated()" href="/" class="btn btn-primary">Go Home Page</a>
    </div>
</div>

<th:block th:replace="~{fragments :: footer}"></th:block>
<th:block th:replace="~{fragments :: scripts}"></th:block>
</body>
</html>