<!DOCTYPE html>
<html lang="en">
<head>
    <th:block th:replace="~{fragments/head :: head}"></th:block>
    <title>Forbidden Page</title>
    <style>
        .content > img {
            margin: 0 auto;
            width: 80%;
            padding: 2em;
        }

        .content {
            margin: 15em auto;
            width: 50%;
            background-color: #555555;
            color: white;
            padding: 2em;
        }
    </style>
</head>
<body class="hero" style="background-image: url('/images/hotel.jpg')">
<th:block th:replace="~{fragments/nav-bar :: navbar}"></th:block>

<div class="content">
    <img src="/images/forbidden.jpg" alt="">
    <h1>Woah, you can't touch this!</h1>
    <h3>Unfortunately, you are not allowed to access the page you've requested. It seems you don't have sufficient permissions.</h3>
    <h3> If you have an account, you might have more luck if you log in.</h3>
    <a href="/users/login" class="btn btn-primary">Open the login page</a>
</div>
<th:block th:replace="~{/fragments/footer :: footer}"></th:block>
<th:block th:replace="~{fragments/scripts :: scripts}"></th:block>
</body>
</html>