<!DOCTYPE html>
<html lang="en">
<head>
    <th:block th:replace="~{fragments :: head}"></th:block>
    <title>Page Not Found</title>
</head>
<body class="error" style="background-image: url('/images/broken-image.jpg')">
<th:block th:replace="~{fragments :: navbar}"></th:block>
<div class="wrapper">
    <div class="error-content">
        <h1 >Congrats, you broke it.</h1>
        <h2> Status code 404.</h2>
        <img src="/images/not-found.jpg" alt="">
        <h4>Sorry, the page you are looking for might have been removed, had its name changed, or is temporarily
            unavailable.</h4>
        <br>
        <h2 class="error-heading">We are sorry, and we are working on the problem!</h2>
        <a href="/" class="btn btn-primary">Go back</a>
    </div>
</div>
<th:block th:replace="~{fragments :: footer}"></th:block>
</body>

</html>