<!DOCTYPE html>
<html lang="en">
<head>
    <th:block th:replace="~{fragments/head :: head}"></th:block>
    <title>Page Not Found</title>
    <style>
        .content > img {
            margin: 0 auto;
            width: 80%;
            padding: 2em;
        }

        .content {
            margin: 15em auto;
            width: 50%;
            background-color: #555555;
            color: white;
            padding: 2em;
        }
    </style>
</head>
<body class="hero" style="background-image: url('/images/hotel.jpg')">
<th:block th:replace="~{fragments/nav-bar :: navbar}"></th:block>

<div class="content">
    <img src="/images/not-found.png" alt="">
    <p>Sorry, the page you are looking for might have been removed, had its name changed, or is temporarily
        unavailable.</p>

    <h1 class="error-heading">We are sorry, and we are working on the problem!</h1>
    <a href="/" class="btn btn-primary">Go back</a>
</div>

<th:block th:replace="~{/fragments/footer :: footer}"></th:block>
<th:block th:replace="~{fragments/scripts :: scripts}"></th:block>
</body>

</html>