.text {
    border: 2px solid white;
    outline: 2px solid dimgrey;
    display: flex;
    justify-content: space-around;
    border-radius: 30px;
    gap: 1em;
    color: white;
}

.form-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 50%;
    align-self: center;
}

.comments-container {
    align-self: center;
}

.page-counter {
    margin: 0 auto;
}

.btn-primary {
    margin: 0.3em auto;
}

.pagination {
    margin: 0 auto 5em auto;
    gap: 1em;
}

.card-info p {
    color: white;
    margin-top: 1em;
    border-radius: 30px;
    padding: 1em;
}

.comments-and-form {
    display: flex;
    justify-content: center;
    gap: 2em;
    width: 80%;
    max-width: 100%;
    margin: 0 auto;
    border-radius: 5%;
}

.comment-title {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 3em;
    gap: 1em;
}

.comment-title-content {
    flex-direction: column;
}

.author {
    word-break: break-word;
}

.message-text,
.author {
    font-style: italic;
}

.allComments {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
    margin: 1em auto;
    transition: opacity 0.3s ease-in-out;
    width: 100%;
}

.truncated {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 500px;
    display: inline-block;
    vertical-align: top;
}

.form-content {
    max-width: 90%;
    margin: 0 auto;
}

.message-text p {
    word-break: break-word;
    overflow-wrap: break-word;
    white-space: pre-wrap; /* This ensures that whitespace is preserved but allows wrapping */
    max-height: 4em;
    overflow: hidden;
    padding: 0.7em;
}

.message-text.expanded p {
    white-space: pre-wrap; /* Allow wrapping when expanded */
    max-height: none; /* Remove height limit when expanded */
}

.truncated + .showMoreBtn {
    display: inline-block;
}

.message {
    color: white;
    text-align: center;
    align-content: center;
    max-width: 28ch;
    min-width: 26ch;
    margin: 0 auto;
    overflow: hidden;
}

.allComments, #controls {
    transition: opacity 1.3s ease-in-out;
}

#commentContent {
    width: 100%;
}

#about {
    text-align: center;
    margin-top: 10em;
}

#comments-form {
    color: white;
    width: 80%;
    max-width: 34ch;
    margin: 2em auto;
}