footer {
    position: relative;
    color: white;
    bottom: 0;
    opacity: 90%;
    width: 100%;
    margin-top: 13em;
}

.text-footer {
    width: 50vw;
    margin: 1em auto;
}

.footer-end {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

video:hover {
    width: 500px;
}

.footer-end .page-link:hover {
    background-color: lightsteelblue !important;
    border-radius: 50%;
    color: black !important;
}