h2 {
    text-align: center;
}

.auth-card {
    background-color: #2e2d2c;
    padding: 5em;
    opacity: 80%;
    border-radius: 50%;
}

.auth-card-btn {
    background-color: darkolivegreen !important;
}

#carousel,
.carousel-inner,
.carousel-item,
.carousel-item.active {
    height: 100vh;
}

#roomCarousel {
    height: 50vh;
}

#roomCarousel .carousel-inner,
#roomCarousel .carousel-item,
#roomCarousel .carousel-control-next,
#roomCarousel .carousel-control-prev {
    height: 50vh;
}

.carousel-control-next,
.carousel-control-prev {
    align-self: center;
    height: 70vh;
    color: black;
}

.carousel-item {
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    height: 100vh;
}

.custom-card .card-body {
    padding: 0;
}

.custom-card {
    display: flex;
    width: 100%;
    height: 60vh;
    background-color: rgba(255, 255, 255, 0.8);
}

.custom-card .card-img {
    display: block;
    width: 65%;
    max-width: 100%;
    height: 60vh;
}

.card-img img {
    width: 100%;
    max-width: 100%;
    height: 60vh;
    margin-right: 3em;
}

.custom-card .room-text {
    background-color: #a0a1a1;
    width: 100%;
    height: 60vh;
    align-content: center;
    padding: 2em;
}


