h2 {
    text-align: center;
}

.auth-card {
    background: linear-gradient(to bottom, rgba(65, 70, 87, 0.9), rgba(105, 135, 224, 0.9));
    padding: 5em;
    border-radius: 20%;
}

.auth-card-btn {
    background: linear-gradient(to bottom, rgba(65, 70, 87, 0.9), rgba(105, 135, 224, 0.9));
}

#carousel,
.carousel-inner,
.carousel-item,
.carousel-item.active {
    height: 100vh;
}

.carousel-control-next,
.carousel-control-prev {
    align-self: center;
    height: 70vh;
    color: black;
    width: 5% !important;
}

.carousel-item {
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    height: 100vh;
}

.custom-card .card-body {
    padding: 0;
}

.custom-card {
    display: flex;
    width: 100%;
    height: 60vh;
    background-color: rgba(255, 255, 255, 0.8);
}

.custom-card .card-img {
    display: block;
    width: 65%;
    max-width: 100%;
    height: 60vh;
}

.card-img img {
    width: 100%;
    max-width: 100%;
    height: 60vh;
    margin-right: 3em;
}

.card-title {
    color: white !important;
}

.custom-card .room-text {
    width: 100%;
    height: 60vh;
    align-content: center;
    padding: 2em;
}

.card-text {
    width: 75%;
    margin: 0 auto;
}

#roomCarousel {
    height: 50vh;
}

#roomCarousel .carousel-inner,
#roomCarousel .carousel-item,
#roomCarousel .carousel-control-next,
#roomCarousel .carousel-control-prev {
    height: 50vh;
}