.navbar {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.9));
}
.form-inline {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid white;

}

.navbar .nav-link {
    font-size: 1.1rem;
    font-weight: 700;
    color: #fff !important;
}
