@media (max-width: 1450px) {
    /* About Page */
    .comments-and-form {
        flex-wrap: wrap;
        gap: 0;
    }

    #comments-form {
        width: 40vw;
        min-height: 20vh;
        margin-right: 0;
    }

    /* EO: About Page */

}

@media (max-width: 995px) {
    #table {
        display: block;
        padding: 0;
    }

    .pagination {
        flex-wrap: wrap;
    }

    /*Navbar*/
    /*.navbar {*/
    /*    max-height: 10vh;*/
    /*}*/
    .form-inline {
        width: 84%;
        margin: 0 auto;
        border: 3px solid white;
        font-size: 1.2rem;
    }

    .navbar .navbar-brand {
        margin-left: 1.3em;
        padding: 0;
    }

    .navbar-brand img {
        max-height: 50px !important;
        transform: scale(2) !important;
    }

    .nav-item {
        margin: 0.5em auto;
        opacity: 85%;
    }

    /*EO: Navbar*/
    /*Index*/
    .room-text {
        display: none;
    }

    .custom-card .card-img {
        width: 100%;
    }

    /*EO: Index*/
    /* About Page */
    .card-info:last-child {
        display: none;
    }

    .comments-and-form {
        flex-wrap: wrap;
        gap: 0;
    }

    #comments-form {
        width: 100%;
    }

    /* EO: About Page */
    /* Contact Page */
    .forms-container {
        margin: 0 auto;
    }

    .form-and-text {
        flex-wrap: wrap;
    }

    .content-text {
        flex-wrap: wrap;
        width: 100%;
        margin-top: 5em;
    }

    .content {
        max-width: 100%;
        margin: 0 auto;
    }

    #contact-form {
        width: 70vw;
    }

    #subscribeForm {
        width: 15rem;
    }

    /* EO: Contact Page */
    /*Footer*/
    #text-footer {
        width: 60vw;
        display: flex;
        justify-content: center;

    }

    video {
        width: 200px;
    }

    video:hover {
        width: 300px;
    }

    /* EO: Footer */
    /*Add Guest*/
    option {
        font-size: 1rem !important;
        white-space: normal;
    }

    #checkboxes-container {
        font-size: 0.9rem !important;
    }

    /*EO: Add Guest*/
}

@media (max-width: 770px) {
    /*Profile*/
    #profile-main,
    .profile h3 {
        font-size: 1.1rem;
        justify-content: center;

    }

    .profile #roles {
        width: 50%;
        font-size: 0.8rem;
        margin: 0 auto;
    }

    #roles span:nth-child(even),
    #roles span:nth-child(odd) {
        width: 72% !important;
        display: flex !important;
        justify-content: center !important;
    }

    .file-input-container {
        width: 100%;
        max-width: 100%;
        margin: 1em auto 1em 2.5em;
        font-size: 0.8rem;
    }

    /*EO: Profile*/
    /*Register*/
    .register-form {
        width: 80%;
    }

    /*EO: Register*/
    /*Tables*/
    #table thead,
    #table thead tr,
    #table tbody,
    #table tbody tr,
    #table th,
    #table td,
    #table tr {
        width: 100%;
    }

    #fullMessage > p {
        width: 100% !important;
    }

    /*EO: Tables*/

}

@media (max-width: 450px) {
     .buttons {
        flex-wrap: wrap;
    }

    .file-container {
        flex-wrap: wrap;
    }

    .profile #roles {
        width: 100%;
    }

    #fullName,
    #email {
        word-break: break-word;
    }

    #subscribe-btn,
    .profile .buttons button,
    .profile .buttons a {
        font-size: 0.5em;
        word-break: break-word;
    }

    .subscribe-form {
        flex-wrap: wrap;
        justify-content: center;
    }

    video {
        width: 100%;
    }
}

@media (max-width: 285px) {
    #roles {
        flex-wrap: wrap;
    }
}