@import url(reset.css);
@import url(navbar.css);
@import url(index.css);
@import url(contact-page.css);
@import url(about-page.css);
@import url(panels.css);
@import url(profile.css);
@import url(tables.css);
@import url(footer.css);
@import url(responsive.css);
@import url(success-cards.css);

textarea:focus {
    border-color: #007bff;
    outline: none;
}

small {
    text-align: center;
    font-size: 0.9rem;
    width: 90%;
    color: black !important;
}

.hero {
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1em;
    margin-top: 2em;
    text-align: center;
    align-items: center;
}

.buttons a {
    align-self: center;
}

.card {
    text-align: center;
}

.errors {
    width: 50%;
    margin: 0 auto;
    font-size: 1.1rem;
}

.is-invalid ~ .invalid-feedback {
    position: unset;
    margin: 1em auto;
}

.login-form {
    margin-top: 5em;
    margin-bottom: 15em;
}

.register-form {
    width: 50%;
    max-width: 100%;
    padding: 1.2em;
}

.input-field {
    width: 80%;
    margin: 0 auto;
}
