h1,
h3 {
    padding-bottom: 1em;
}

.success-card {
    justify-content: center;
    align-self: center;
    width: 50%;
    justify-self: center;
    margin: 6em auto;
    padding: 3em;
    text-align: center;
}