<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{fragments :: head}"></th:block>
    <title>About us</title>
</head>
<body class="hero" style="background-image: url('/images/hotel2.jpg');">
<th:block th:replace="~{fragments :: navbar}"></th:block>
<section id="about" class="py-5">
    <h1 class="mb-4 text-white">About Our Hotel</h1>
    <div class="container mt-0">
        <div class="text">
            <div class="card-info">
                <p><b>Nestled in the heart of [City Name], [Hotel Name] is your oasis of luxury and comfort. Whether
                    you're here for business, pleasure, or a bit of both, our hotel offers a seamless blend of modern
                    sophistication
                    and timeless elegance. From our elegantly appointed rooms to our top-notch amenities, every detail
                    has
                    been thoughtfully designed to ensure your stay is nothing short of extraordinary.</b></p>
            </div>
            <div class="card-info">
                <p>At [Hotel Name], we pride ourselves on our exceptional service and warm hospitality. Our dedicated
                    staff is always at your service, ready to cater to your every need and ensure your stay is as
                    comfortable as
                    possible. Start your day with a sumptuous breakfast at our gourmet restaurant, relax in our tranquil
                    spa, or take a dip in our sparkling pool. For those looking to explore, our prime location puts you
                    just
                    steps away from [City’s Major Attractions].</p>
            </div>
        </div>
        <p class="text-white bg-dark rounded p-1"><em>Experience the perfect blend of style, comfort, and convenience at
            [Hotel Name].<br> Book your stay today and discover why we are the preferred choice for discerning
            travelers.</em></p>
    </div>
</section>
<div class="comments-and-form">
    <div class="comments-container">
        <div class="allComments">
            <div class="comments" th:each="comment, iterStat : ${comments.getContent()}" th:fragment="commentList">
                <div class="message" th:classappend="${iterStat.index >= 5} ? 'hidden'">
                    <div class="comment-title bg-dark">
                        <div class="comment-title-content d-flex">
                            <h6>Date:</h6>
                            <h6 class="date" th:text="${comment.created.toLocalDate()}">Author</h6>
                        </div>
                        <div class="comment-title-content">
                            <h6>Author:</h6>
                            <h6 class="author" th:text="${comment.author}">Author</h6>
                        </div>
                    </div>
                    <div class="message-text bg-dark">
                        <p th:attr="data-full-text=${comment.commentContent}"
                           th:text="'&quot;' + ${comment.commentContent} + '&quot;'"
                           th:classappend="${comment.commentContent.length() > 50} ? 'truncated' : ''"></p>
                    </div>
                    <button class="showWholeComment btn btn-info btn-sm" th:if="${comment.commentContent.length() > 50}">Show
                        More
                    </button>
                </div>
            </div>
        </div>
        <div th:unless="${comments.getTotalElements() < 4}" id="controls" class="page-counter text-white">
            <div class="col-md-12 text-center">
                <p>
                    Page <span th:text="${comments.getNumber() + 1}"></span>
                    of <span th:text="${comments.getTotalPages()}"></span>
                </p>
            </div>
        </div>
        <div th:unless="${comments.getTotalElements() < 4}" class="col-md-12 text-center">
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                    <li class="page-item" th:classappend="${comments.number == 0} ? 'disabled' : ''">
                        <a class="page-link rounded bg-dark text-white"
                           th:href="@{${'/about'}(page=${comments.number - 1})}">Previous</a>
                    </li>
                    <li class="page-item"
                        th:classappend="${comments.number == comments.totalPages - 1} ? 'disabled' : ''">
                        <a class="page-link pr-4 pl-4 rounded bg-dark text-white"
                           th:href="@{${'/about'}(page=${comments.number + 1})}">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="form-container">
        <section id="comments-form">
            <div class="container text-center">
                <form th:action="@{/about/addComment}" th:method="POST" th:object="${addCommentBindingModel}">
                    <h2 class="mb-4">Leave a comment</h2>
                    <div class="form-content">
                        <div class="form-name">
                            <label for="author">Your Name or Nickname</label>
                            <input type="text" class="form-control" id="author" th:field="*{author}"
                                   th:errorclass="is-invalid"
                                   min="3" max="30"
                                   name="author" placeholder="Enter your name...">
                            <small id="authorError" th:errors="*{author}"
                                   class="invalid-feedback text-white  bg-danger rounded"></small>
                        </div>
                        <div class="form-text-content">
                            <label for="commentContent">Your comment</label>
                            <textarea class="form-control" id="commentContent" rows="4" th:field="*{commentContent}"
                                      th:errorclass="is-invalid"
                                      name="commentContent" placeholder="Maximum 250 symbols."></textarea>
                            <small id="commentError" th:errors="*{commentContent}"
                                   class="invalid-feedback text-white  bg-danger rounded"></small>
                        </div>
                    </div>
                    <div class="form-button">
                        <br>
                        <small th:if="${successCommentMessage}" th:text="${successCommentMessage}"
                               class="alert alert-success"></small>
                        <button type="submit" class="btn btn-success">Leave a comment</button>
                    </div>
                </form>
            </div>
        </section>
    </div>
</div>
<th:block th:replace="~{fragments :: footer}"></th:block>
<script src="/js/aboutPage.js"></script>
<script src="/js/displayErrorsScript.js"></script>
</body>
</html>