<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{fragments :: head}"></th:block>
    <title>Ooops! - Something went wrong.</title>
</head>
<body class="error" style="background-image: url('/images/broken-image.jpg')">
<th:block th:replace="~{fragments :: navbar}"></th:block>
<div class="wrapper">
    <div class="error-content">
        <h1 >Oops! Something went wrong.</h1>
        <img src="/images/error-picture.webp" alt="">
        <br>
        <h2 class="error-heading">We are sorry, and we are working on the problem!</h2>
        <a href="/" class="btn btn-primary">Go back</a>
    </div>
</div>
<th:block th:replace="~{fragments :: footer}"></th:block>
</body>
</html>
