<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{fragments :: head}"></th:block>
    <title>Add Guest</title>
</head>
<body class="hero" style="background-image: url('/images/hotel1.jpg');">
<th:block th:replace="~{fragments :: navbar}"></th:block>
<main>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6" style="width: 90%">
                <div class="card">
                    <div class="card-header">
                        <h4>Add Guest To Hotel</h4>
                    </div>
                    <div class="card-body">
                        <form id="add-guest-form" action="/guests/add">
                            <div class="form-group">
                                <label for="firstName">First Name</label>
                                <input type="text" class="form-control" id="firstName" name="firstName"
                                       required minlength="5" maxlength="100" placeholder="Enter guest first name...">
                                <small id="firstNameError"
                                       class="invalid-feedback text-white  bg-danger rounded"></small>
                            </div>
                            <div class="form-group">
                                <label for="lastName">Last Name</label>
                                <input type="text" class="form-control" id="lastName" name="lastName"
                                       required minlength="5" maxlength="100" placeholder="Enter guest last name...">
                                <small id="lastNameError"
                                       class="invalid-feedback text-white  bg-danger rounded"></small>
                            </div>
                            <div class="form-group">
                                <label for="email">Email address</label>
                                <input type="email" class="form-control" id="email" name="email" required
                                       minlength="5" maxlength="100" pattern="^[^\s@]+@[^\s@]+\.[^\s@]+$"
                                       placeholder="Enter guest email...">
                                <small id="emailError" class="invalid-feedback text-white  bg-danger rounded"></small>
                            </div>
                            <div class="form-group">
                                <label for="age">Age</label>
                                <input type="number" class="form-control" id="age" name="age"
                                       required min="18" max="100" placeholder="Enter guest age...">
                                <small id="ageError" class="invalid-feedback text-white  bg-danger rounded"></small>
                            </div>
                            <div class="form-group">
                                <label for="documentId">Document Number</label>
                                <input type="text" class="form-control" id="documentId" name="documentId"
                                       required minlength="5" maxlength="100" placeholder="Enter guest id number...">
                                <small id="documentIdError"
                                       class="invalid-feedback text-white  bg-danger rounded"></small>
                            </div>
                            <div class="form-group">
                                <label for="daysToStay">Enter the days that guest want to stay</label>
                                <input type="number" class="form-control" id="daysToStay" name="daysToStay"
                                       required min="1" placeholder="Enter the days that guest want to stay">
                                <small id="daysToStayError"
                                       class="invalid-feedback text-white  bg-danger rounded"></small>
                            </div>
                            <div id="checkboxes-container" class="form-group p-1">
                                <div class="checkbox-item" th:each="category, status : ${categories}">
                                    <label>
                                        <input type="checkbox" name="category" th:id="'category-' + ${status.index}"
                                               th:value="${category.name()}"
                                               th:data-index="${status.index}">
                                    </label>
                                    <label class="p-0" th:for="'category-' + ${status.index}">
                                        <span th:text="${category.name()}"></span>
                                    </label>
                                </div>
                            </div>
                            <div>
                                <div class="form-group" id="freeRooms">
                                    <label for="roomNumber">Free Rooms</label>
                                    <select id="roomNumber" name="roomNumber" class="custom-select" size="6" required>
                                        <option value="" selected disabled>Choose category to select room number
                                        </option>
                                    </select>
                                    <small id="roomNumberError" class="invalid-feedback text-white bg-danger rounded"></small>
                                </div>
                            </div>
                            <div class="buttons">
                                <button type="submit" class="btn btn-success btn-lg">Add Guest To Hotel</button>
                                <a th:href="@{/moderator}" class="btn btn-info">Back</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<th:block th:replace="~{fragments :: footer}"></th:block>
<script src="/js/roomsFetch.js"></script>
<script src="/js/addGuestScript.js"></script>
</body>
</html>