<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{fragments/head :: head}"></th:block>
    <title>Guest want to leave</title>
</head>
<body class="hero" style="background-image: url('/images/hotel2.jpg');">
<th:block th:replace="~{fragments/nav-bar :: navbar}"></th:block>
<div class="container p-3 bg-dark rounded">
    <div>
        <h2 class="text-white mt-2">All Guests in Hotel</h2>
            <table class="table" id="table">
                <thead>
                <tr>
                    <th>Guest Full Name</th>
                    <th>Age</th>
                    <th>Document ID</th>
                    <th>Room Number</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="guest : ${guests}" >
                    <form th:action="@{/guests/leave}" th:method="POST">
                        <input type="hidden" id="selectedGuestId" th:name="roomNumber" th:value="${guest.roomNumber}"/>
                        <td th:text="${guest.fullName}"></td>
                        <td th:text="${guest.age}"></td>
                        <td th:text="${guest.documentId}"></td>
                        <td th:text="${guest.roomNumber}"></td>
                        <td><button type="submit" class="btn btn-success">Check Out</button></td>
                    </form>
                </tr>
                </tbody>
            </table>
    </div>
    <div class="back-btn">
        <a th:href="@{/moderator}" class="btn btn-info">Go back <br> to your panel</a>
    </div>
</div>
<th:block th:replace="~{/fragments/footer :: footer}"></th:block>
<th:block th:replace="~{fragments/scripts :: scripts}"></th:block>
</body>
</html>