<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="~{fragments/head :: head}"></th:block>
    <title>Moderator Dashboard</title>
</head>
<body class="hero" style="background-image: url('/images/hotel2.jpg');">
<th:block th:replace="~{fragments/nav-bar :: navbar}"></th:block>
<main>
    <section id="cards-holder">
        <div class="cards">
            <div class="card">
                <div class="card-body bg-dark text-white">
                    <h3 class="card-title">Add Guest to Hotel</h3>
                    <p class="card-text">Here you can add guest to the hotel</p>
                    <a th:href="@{/guests/add}" class="btn btn-primary">Add guest</a>
                </div>
            </div>
            <div class="card">
                <div class="card-body bg-dark text-white">
                    <h3 class="card-title">CHECK OUT</h3>
                    <p class="card-text">Here you need to check out the Guest</p>
                    <a th:href="@{/guests/leave}" class="btn btn-primary">Guest want to leave</a>
                </div>
            </div>

        </div>
        <!-- Make fetch for quote here to make moderator happy :)-->
    </section>
    <div class="cards">
        <div class="card" th:unless="${allNotApprovedComments == 0}">
            <div class="card-body bg-danger text-white">
                <h5 class="card-title">See comments</h5>
                <p class="card-text"></p>
                <p th:if="${allNotApprovedComments == 1}"
                   th:text="'You have ' + ${allNotApprovedComments} + ' new comment!'"></p>
                <p th:if="${allNotApprovedComments > 1}"
                   th:text="'You have ' + ${allNotApprovedComments} + ' new comments!'"></p>
                <a th:href="@{/moderator/comments}" class="btn btn-primary">Check comments</a>
            </div>
        </div>
        <div class="card" th:unless="${allContactRequests == 0}">
            <div class="card-body bg-danger text-white">
                <h5 class="card-title">See Contact Requests</h5>
                <p class="card-text"></p>
                <p th:if="${allContactRequests == 1}"
                   th:text="'You have ' + ${allContactRequests} + ' contact request!'"></p>
                <p th:if="${allContactRequests > 1}"
                   th:text="'You have ' + ${allContactRequests} + ' contact requests!'"></p>
                <a th:href="@{/moderator/contactRequests}" class="btn btn-primary">Contact Requests</a>
            </div>
        </div>
        <div class="card" th:unless="${allOnlineReservations == 0}">
            <div class="card-body bg-danger text-white">
                <h5 class="card-title">See Online Reservations</h5>
                <p class="card-text"></p>
                <p th:if="${allOnlineReservations == 1}"
                   th:text="'You have ' + ${allOnlineReservations} + ' online reservation!'"></p>
                <p th:if="${allOnlineReservations > 1}"
                   th:text="'You have ' + ${allOnlineReservations} + ' online reservations!'"></p>
                <a th:href="@{/moderator/onlineReservations}" class="btn btn-primary">Online Reservations</a>
            </div>
        </div>
    </div>
    <h1 class="text-white text-center">Hotel Overview</h1>
    <div class="cards">
        <div class="card">
            <div class="card-body bg-dark text-white">
                <h5 class="card-title">Rooms Overview</h5>
                <p class="card-text">Total Free Rooms: <span th:text="${freeRoomsCount}" id="free-rooms-count">XX</span>
                </p>
                <a th:href="@{/hotel/freeRooms}" class="btn btn-primary">Check Free Rooms</a>
            </div>
        </div>
        <div class="card">
            <div class="card-body bg-dark text-white">
                <h5 class="card-title">Guests Overview</h5>
                <p class="card-text">Total Guests: <span th:text="${allGuestsCount}" id="totalGuestsCount">XX</span></p>
                <a th:href="@{/hotel/allGuests}" class="btn btn-primary">See All Guests</a>
            </div>
        </div>
        <div class="card">
            <div class="card-body bg-dark text-white">
                <h5 class="card-title">Subscribers Overview</h5>
                <p class="card-text">Total Subscribers: <span th:text="${totalSubscribers}" id="totalSubscribersCount">XX</span>
                </p>
                <a th:href="@{/hotel/allSubscribers}" class="btn btn-primary">See All Subscribers</a>
            </div>
        </div>
        <div class="card">
            <div class="card-body bg-dark text-white">
                <h5 class="card-title">Happy Guests Overview</h5>
                <p class="card-text">Total Happy Guests: <span th:text="${happyGuestsCount}" id="happyGuests">XX</span>
                </p>
                <a th:href="@{/hotel/allHappyGuests}" class="btn btn-primary">See All Happy Guests</a>
            </div>
        </div>
    </div>
</main>
<th:block th:replace="~{/fragments/footer :: footer}"></th:block>
<th:block th:replace="~{fragments/scripts :: scripts}"></th:block>
</body>
</html>
