<!DOCTYPE html>
<html lang="en">
<head>
    <th:block th:insert="~{fragments :: head}"></th:block>
    <title>Online Reservations</title>
</head>
<body class="hero" style="background-image: url('/images/hotel2.jpg');">
<th:block th:replace="~{fragments :: navbar}"></th:block>
<div class="container p-3 bg-dark rounded">
    <div>
        <h2 class="text-white mt-2">Online Reservations</h2>
        <table class="table" id="table">
            <thead>
            <tr>
                <th>Guest Full Name</th>
                <th>Age</th>
                <th>Email</th>
                <th>Date</th>
                <th>Time</th>
                <th>Additional Info</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="reservation : ${allNotCheckedOnlineReservations}"
                th:data-full-text="${reservation.additionalInfo}"
                th:data-content-author="${reservation.fullName}"
                th:data-content-id="${reservation.id}">
                <td th:text="${reservation.fullName}"></td>
                <td th:text="${reservation.age}"></td>
                <td th:text="${reservation.email}"></td>
                <td style="width: 10%" th:text="${#temporals.format(reservation.timestamp, 'yyyy-MM-dd')}"></td>
                <td th:text="${#temporals.format(reservation.timestamp.toLocalTime(), 'HH')} + ':' + (${reservation.timestamp.toLocalTime().getMinute() < 10 ? '0' : ''}) + ${reservation.timestamp.toLocalTime().getMinute()}"></td>
                <td th:text="${#strings.abbreviate(reservation.additionalInfo, 40)}"></td>
            </tr>
            </tbody>
        </table>
        <h4 class="text-white">If the additional info is too long it will be shown here when you press on it.</h4>
        <div id="fullMessage"></div>
    </div>
    <div class="buttons">
        <a th:href="@{/moderator}" class="btn btn-info">Go back to your panel</a>
        <form th:action="@{/moderator/onlineReservationChecked}" th:method="POST" style="display:inline;">
            <input type="hidden" id="selectedContentId" name="reservationId"/>
            <button type="submit" class="btn btn-success">Done</button>
        </form>
    </div>
</div>
<th:block th:replace="~{fragments :: footer}"></th:block>
<script src="/js/tablesHelperScript.js"></script>
</body>
</html>