<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:replace="~{fragments/head :: head}"></th:block>
    <title>Footer</title>
</head>

<body >

<!-- Footer -->
<footer th:fragment="footer" class="bg-body-tertiary bg-dark text-center" >
    <!-- Grid container -->
    <div class="container p-4">
        <!-- Section: Social media -->
        <section class="mb-4">
            <!-- Facebook -->
            <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="#" role="button">
                <i class="fab fa-facebook-f fa-2xl"></i>
            </a>

            <!-- Twitter -->
            <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="#" role="button">
                <i class="fab fa-twitter fa-2xl"></i>
            </a>

            <!-- Google -->
            <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="#" role="button">
                <i class="fab fa-google fa-2xl"></i>
            </a>

            <!-- Instagram -->
            <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="#" role="button">
                <i class="fab fa-instagram fa-2xl"></i>
            </a>

            <!-- Linkedin -->
            <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1"
               href="https://www.linkedin.com/in/roberto-spasov-3305a4228/" role="button">
                <i class="fab fa-linkedin-in fa-2xl"></i>
            </a>

            <!-- Github -->
            <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="https://github.com/RobSunnn"
               role="button">
                <i class="fab fa-github fa-2xl"></i>
            </a>
        </section>
        <!-- Section: Social media -->

        <!-- Section: Form -->
        <section>
            <!--/*@thymesVar id="addSubscriberBindingModel" type="AddSubscriberBindingModel"*/-->
            <form th:action="@{/contact/subscribe}" th:method="POST" th:object="${addSubscriberBindingModel}">
                <!-- Grid row -->
                <input type="hidden" name="redirectUrl" th:value="${pageUrl}" />
                <div class="row d-flex justify-content-center">
                    <!-- Grid column -->
                    <div class="col-auto">
                        <p class="text-white pt-2">
                            <strong>Sign up for our newsletter</strong>
                        </p>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-5 col-12">
                        <!-- Email input -->
                        <div data-mdb-input-init class="form-outline mb-4 border">

                            <input type="email" required id="form" class="form-control" name="subscriberEmail" />

                            <label class="form-label text-white" for="form">Email address</label>

                        </div>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-auto">
                        <!-- Submit button -->
                        <button data-mdb-ripple-init type="submit" class="btn btn-primary mb-4">
                            Subscribe
                        </button>
                    </div>
                    <!-- Grid column -->
                </div>
                <!-- Grid row -->
                <div th:if="${successSubscribeMessage}" style="color: green;">

                    <p th:text="${successSubscribeMessage}"></p>

                </div>

                <div th:if="${failMessage}" style="color: red;">

                    <p th:text="${failMessage}"></p>

                </div>

            </form>
        </section>
        <!-- Section: Form -->


        <!-- Section: Links -->
        <section class="mt-5">
            <!--Grid row-->

            <div class="footer-end">
                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Quick Links</h5>

                    <ul class="list-unstyled mb-0">
                        <li class="page-link">
                            <a class="page-item" href="/about">About Us</a>
                        </li>
                        <li class="page-link">
                            <a class="page-item" href="/contact">Contact</a>
                        </li>
                        <li class="page-link">
                            <a class="page-item" href="/allRoomTypes">Our Rooms</a>
                        </li>
                        <li class="page-link">
                            <a class="page-item" href="#top">Go TOP</a>
                        </li>
                    </ul>

                </div>

                <div class="video">
                    <div class="">
                        <div class="">
                            <video controls width="320">

                                <source src="/images/10154095086876282.mp4" type="video/mp4"/>

                                Download the
                                <a href="/images/10154095086876282.mp4">MP4</a>
                                video.
                            </video>
                        </div>
                    </div>
                </div>

            </div>

        </section>

        <section id="text-footer" class="text-footer p-1 mb-4" >
            <p class="text-white">
                Welcome to Our Hotel, your home away from home. <br> Nestled in the heart of [City],
                we offer a blend of comfort and luxury tailored to your needs. Whether you're here for business or
                leisure,
                our modern amenities, exceptional service, and prime location ensure a memorable stay.
                Discover the perfect retreat with us, where every guest is treated like family.
            </p>
        </section>
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2024
        <a class="text-reset fw-bold" href="#"></a>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->

</body>
</html>