<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        /* Custom styles for the footer */
        footer {
            background-color: #2e2d2c;
            color: white;
            padding: 10px 0;
            position: fixed;
            bottom: 0;
            width: 100%;

        }
    </style>
</head>

<body th:fragment="footer">

    <footer class="text-center">
        <p>&copy; 2024 Hotel App</p>
    </footer>

</body>
</html>