<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <th:block th:replace="~{fragments/head :: head}"></th:block>
    <title>NavBar</title>
    <style>

        @media (max-width: 992px) {
            .navbar {
                 background-color: #2e2d2c;
            }
        }

        .form-inline {
            display: flex;
            justify-content: space-between;
            align-items: center;
            /*width: 130%;*/
        }

        /*.navbar {*/
        /*    margin-bottom: 3em;*/
        /*    background-image: url("/images/hotel.jpg");*/
        /*}*/
        .navbar .nav-link {
            color: #fff !important;
        }

    </style>
</head>

<body>
<!-- Navbar -->
<header th:fragment="navbar">
    <nav class="navbar navbar-expand-lg navbar-dark d-lg-block" style="z-index: 2000;">
        <div class="container-fluid">

            <a class="navbar-brand nav-link" href="/">
                <strong>Hotel App</strong>
            </a>
            <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#toggler"
                    aria-controls="toggler" aria-expanded="false" aria-label="Toggle navigation">
                <span><i class="fas fa-bars"></i></span>

            </button>
            <div class="collapse navbar-collapse" id="toggler">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/contact" rel="nofollow">Contact us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About us</a>
                    </li>
                    <li  class="nav-item">
                        <a sec:authorize="hasRole('ADMIN')" class="nav-link" href="/admin">Admin</a>
                    </li>
                    <li sec:authorize="hasRole('ADMIN')" class="nav-item">
                        <a class="nav-link" href="/moderator">Moderator</a>
                    </li>
                </ul>

                <ul class="navbar-nav list-inline" id="custom-box">

                    <li>
                        <a th:unless="${#authorization.expression('isAuthenticated()')}" class=" btn-outline-light btn-lg m-2" href="/users/register"
                           role="button">Sign Up</a>
                        <a th:unless="${#authorization.expression('isAuthenticated()')}" class=" btn-outline-light btn-lg m-2" href="/users/login"
                           role="button" rel="nofollow">Sign In</a>
                    </li>
                    <!-- Icons -->
                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <div class="form-inline my-2 my-lg-0 border px-3">
                            <div class="logged-user text-white p-2">
                                Welcome, <a style="font-weight: 700" th:href="@{/users/profile}">
                                <th:block th:text="${#authentication.principal.fullName}"></th:block>
                            </a>!
                            </div>

                            <form th:method="post" th:action="@{/users/logout}">
                                <input type="submit" class="btn btn-outline-secondary btn-sm p-1 text-white"
                                       value="Logout">
                            </form>

                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

</header>

<th:block th:replace="~{fragments/scripts :: scripts}"></th:block>

</body>
</html>