<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{fragments/head :: head}"></th:block>
    <title>Adding Guest Successful</title>
</head>
<body class="hero" style="background-image: url('/images/success.jpg');">
<th:block th:replace="~{fragments/nav-bar :: navbar}"></th:block>
<div class="card bg-dark text-white" id="success-card">
    <h1 class="pb-1">Guest added Successfully!</h1>
    <h2>Welcome to our Application!</h2>
    <h3 class="pb-1">Thank you for choosing us!</h3>
    <a href="/moderator" class="btn btn-success">Go To Your Panel</a>
</div>
<th:block th:replace="~{/fragments/footer :: footer}"></th:block>
<th:block th:replace="~{fragments/scripts :: scripts}"></th:block>
</body>
</html>