<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <th:block th:replace="~{fragments/head :: head}"></th:block>
    <title>Sign IN</title>

    <style>
        .sign-in {
            display: none;
        }
        main {
            /*margin-bottom: 15em;*/
        }
    </style>
</head>

<body class="hero" style="background-image: url('/images/login-img.jpg');">
<th:block th:replace="~{fragments/nav-bar :: navbar}"></th:block>
<main>
    <div class="container">

        <form id="login-form" action="/users/login" method="post">
            <div class="container mt-5">
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-header bg-dark text-white">
                                <h4>Login</h4>
                            </div>

                            <div class="card-body bg-dark text-white">

                                <form>

                                    <div class="form-group">

                                        <label for="email">Email address</label>
                                        <input type="text" class="form-control" id="email" name="email"
                                               placeholder="Enter email">

                                    </div>

                                    <div class="form-group">

                                        <label for="password">Password</label>
                                        <input type="password" class="form-control" id="password" name="password"
                                               placeholder="Enter password">

                                    </div>

                                    <div id="error-message"></div>
                                    <button type="submit">Login</button>

                                </form>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

</main>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/crypto-js.min.js"></script>

<script>
    document.getElementById('login-form').addEventListener('submit', async function(event) {
        event.preventDefault(); // Prevent the default form submission

        const key = CryptoJS.lib.WordArray.random(32); // 256-bit key
        const iv = CryptoJS.lib.WordArray.random(16);
        const csrfTokenElement = document.querySelector('input[name="_csrf"]');
        const email = document.getElementById('email').value;
        const password = document.getElementById('password').value;

        const encryptedEmail = CryptoJS.AES.encrypt(email, key, { iv: iv }).toString();
        const encryptedPassword = CryptoJS.AES.encrypt(password, key, { iv: iv }).toString();

        const formData = new FormData();
        formData.append('encryptedEmail', encryptedEmail);
        formData.append('encryptedPass', encryptedPassword);
        formData.append('iv', CryptoJS.enc.Base64.stringify(iv));
        formData.append('key', CryptoJS.enc.Base64.stringify(key));
        try {
            const response = await fetch(this.action, {
                method: 'POST',
                body: formData,
                headers: {
                    'X-CSRF-TOKEN': csrfTokenElement.value,
                }
            });

            if (response.ok) {
                window.location.href = '/';
            } else {
                const result = await response.json();
                let errorMessage = document.getElementById('error-message');
                errorMessage.textContent = result.message || 'Login failed';
                errorMessage.classList.add("errors", "alert", "alert-danger");
            }
        } catch (error) {
            document.getElementById('error-message').textContent = 'An error occurred. Please try again.';
        }
    });
</script>

<th:block th:replace="~{/fragments/footer :: footer}"></th:block>
<th:block th:replace="~{fragments/scripts :: scripts}"></th:block>
</body>
</html>