<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <th:block th:replace="~{fragments/head :: head}"></th:block>
    <title>Profile</title>
</head>
<style>



</style>
<body class="hero" style="background-image: url('/images/hotel1.jpg');">
<th:block th:replace="~{fragments/nav-bar :: navbar}"></th:block>

<main class="align-content-center mt-5 bg-blur">

    <div class="row d-flex justify-content-center">
        <div class="col-md-7 bg-white rounded">
            <div class="profile-card p-3 py-4">

                <div class="text-center">
                    <div class="image-frame">
                        <img class="" th:if="${userDetails.getProfilePictureBase64() != ''}"
                             th:src="'data:image/jpeg;base64,' + ${userDetails.getProfilePictureBase64()}"
                             alt="Profile Picture">
                    </div>
                    <div class="image-frame">
                        <img class="" th:if="${userDetails.getProfilePictureBase64() == ''}"
                             th:src="@{/images/minion.gif}"
                             alt="Default Profile Picture">
                    </div>


                    <div th:if="${successMessage}" class="alert alert-success mt-1" role="alert">
                        <span th:text="${successMessage}"></span>
                    </div>

                    <div th:if="${errorMessage}" class="alert alert-danger mt-1" role="alert">
                        <span th:text="${errorMessage}"></span>
                    </div>
                    <form id="profile-form" th:action="@{/users/profile/addProfileImage}" th:method="POST"
                          enctype="multipart/form-data">

                        <div class="file-input-container">
                            <input type="file" name="profile-picture" id="profile-picture" value=""
                                   aria-describedby="profile-picture">
                        </div>
                        <!--                            <small id="profile-picture-error" class="invalid-feedback form-text bg-danger rounded">Picture-->
                        <!--                                size must be between 1MB and 5MB</small>-->
                        <p><b>Allowed size 5MB</b></p>

                        <button type="submit" class="btn btn-success">Change profile picture</button>
                    </form>


                    <div class="text-center mt-5 bg-white">

                        <h4 th:text="'Name:'">Name of</h4>
                        <h3 th:text="${userDetails.getFullName()}">User</h3>

                        <br>
                        <br>
                        <h4 th:text="'Roles:'">Roles of</h4>
                        <br>
                        <span class="bg-info p-1 m-1 px-4 rounded text-white"
                              th:each="role : ${userDetails.getRoles()}" th:text="${role.getName()}">User</span>
                        <br>
                        <br>

                        <h4 class="mt-2 mb-0" th:text="'Age:'">Age of</h4>
                        <h3 class="mt-2 mb-0" th:text="${userDetails.getAge()} + ' years'">User</h3>
                        <br>

                        <h4 class="mt-2 mb-0" th:text="'Email: '">Email of</h4>
                        <h3 class="mt-2 mb-0" th:text="${userDetails.getEmail()}">User</h3>
                        <br>

                        <div class="buttons">
                            <a th:href="@{/}" class="btn mb-5 btn-outline-primary px-4">Back</a>
                            <a th:href="@{/users/profile/editProfile}"
                               class="btn mb-5 btn-outline-success bg-dark px-4">Edit
                                Profile</a>
                            <a th:href="@{/users/profile/changePassword}"
                               class="btn mb-5 btn-outline-primary px-4 bg-dark">Change
                                Password</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</main>
<th:block th:replace="~{/fragments/footer :: footer}"></th:block>
<th:block th:replace="~{fragments/scripts :: scripts}"></th:block>
<script src="/js/fileValidationScript.js"></script>
</body>
</html>
