<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <th:block th:replace="~{fragments/head :: head}"></th:block>
    <title>Sign UP</title>

    <style>

        .register-form {
            width:50%;
            max-width: 100%;
            padding: 1.2em;
        }

        .input-field {
            width: 80%;
            margin: 0 auto;
        }

        .sign-up {
            display: none;
        }

        @media (max-width: 750px) {
            .register-form {
                width: 80%;
            }
        }

    </style>
</head>

<body class="hero" style="background-image: url(/images/register-img.jpg)">
<th:block th:replace="~{fragments/nav-bar :: navbar}"></th:block>

<main>
    <form>

        <div class="register-form container bg-dark rounded">
            <h2 class="text-white">Register</h2>
            <div class="input-field form-group">
                <label for="firstName" class="text-white">First Name</label>
                <input type="text" class="form-control" id="firstName" placeholder="Enter your first name...">
                <small id="firstNameError" class="invalid-feedback text-white bg-danger rounded"></small>
            </div>

            <div class="input-field form-group">
                <label for="lastName" class="text-white">Last Name</label>
                <input type="text" class="form-control" id="lastName" placeholder="Enter your last name...">
                <small id="lastNameError" class="invalid-feedback text-white bg-danger rounded"></small>
            </div>

            <div class="input-field form-group">
                <label for="email" class="text-white">Email address</label>
                <input type="email" class="form-control" id="email" placeholder="Enter your email...">
                <small id="emailError" class="invalid-feedback text-white bg-danger rounded"></small>
            </div>

            <div class="input-field form-group">
                <label for="age" class="text-white">Age</label>
                <input type="number" class="form-control" id="age" placeholder="Enter your age...">
                <small id="ageError" class="invalid-feedback text-white bg-danger rounded"></small>
            </div>

            <div class="input-field form-group">
                <label for="password" class="text-white">Password</label>
                <input type="password" class="form-control" id="password" placeholder="Enter password...">
                <small id="passwordError" class="invalid-feedback text-white bg-danger rounded"></small>
            </div>

            <div class="input-field form-group">
                <label for="confirmPassword" class="text-white">Confirm Password</label>
                <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm your password...">
                <small id="confirmPasswordError" class="invalid-feedback text-white bg-danger rounded"></small>
            </div>

            <div class="buttons">
                <button type="button" class="btn btn-primary btn-lg" onclick="encryptAndSubmit()">Register</button>
            </div>
        </div>
    </form>

</main>
<th:block th:replace="~{/fragments/footer :: footer}"></th:block>
<th:block th:replace="~{fragments/scripts :: scripts}"></th:block>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/crypto-js.min.js"></script>

<script>

    function displayErrors(errors) {
        // Clear previous errors
        document.querySelectorAll('.invalid-feedback').forEach(el => el.textContent = '');
        document.querySelectorAll('.form-control').forEach(el => el.classList.remove('is-invalid'));

        if (errors.length > 0) {
            // Scroll to the first error
            const firstErrorField = errors[0].field;
            const firstErrorElement = document.getElementById(firstErrorField);
            if (firstErrorElement) {
                firstErrorElement.scrollIntoView({ behavior: 'smooth', block: 'center' });
            }
        }

        // Iterate over the errors array
        errors.forEach(error => {
            const errorElement = document.getElementById(`${error.field}Error`);
            const inputElement = document.getElementById(error.field);
            if (errorElement && inputElement) {
                errorElement.textContent = error.defaultMessage;
                inputElement.classList.add('is-invalid');
            }
        });
    }

    async function encryptAndSubmit() {
        try {
            const key = CryptoJS.lib.WordArray.random(32); // 256-bit key
            const iv = CryptoJS.lib.WordArray.random(16);
            const csrfTokenElement = document.querySelector('input[name="_csrf"]');
            const firstName = document.getElementById('firstName').value;
            const lastName = document.getElementById('lastName').value;
            const age = document.getElementById('age').value;
            const email = document.getElementById('email').value;
            const password = document.getElementById('password').value;
            const confirmPassword = document.getElementById('confirmPassword').value;

            const encryptedEmail = CryptoJS.AES.encrypt(email, key, { iv: iv }).toString();
            const encryptedPassword = CryptoJS.AES.encrypt(password, key, { iv: iv }).toString();
            const encryptedConfirmPassword = CryptoJS.AES.encrypt(confirmPassword, key, { iv: iv }).toString();

            // Prepare the data to send
            const formData = new FormData();
            formData.append('firstName', firstName);
            formData.append('lastName', lastName);
            formData.append('email', encryptedEmail);
            formData.append('age', age);
            formData.append('password', encryptedPassword);
            formData.append('confirmPassword', encryptedConfirmPassword);
            formData.append('iv', CryptoJS.enc.Base64.stringify(iv));
            formData.append('key', CryptoJS.enc.Base64.stringify(key));

            // Send the encrypted data
            const response = await fetch('http://localhost:8080/users/register', {
                method: 'POST',
                body: formData,
                headers: {
                    'X-CSRF-TOKEN': csrfTokenElement.value,
                }
            });

            const responseData = await response.json();
            console.log(responseData);

            if (responseData.success) {
                if (responseData.redirectUrl) {
                    // Redirect to the success page
                    window.location.href = responseData.redirectUrl;
                }
            } else {
                if (responseData.errors) {
                    displayErrors(responseData.errors);
                }
            }
        } catch (error) {
            console.error('Error during registration:', error);
        }
    }


</script>
</body>
</html>
